.chart-container {
    width: 700px;
    height:700px;
    
}
.content{
    /* margin-top: -20%; */
    
    /* font-size: 2rem; */
}

.box{
    background-color: lightgrey;
  width: 300px;
  border: 5px solid green;
  padding: 20px;
  margin: 20px;
  margin-top: -15%;
  margin-left: 9%;

}
.headl{
    font-size: 2rem;
}

.lans{
    font-size: 1.5rem;
}
.line{
    display: flex;
    flex-direction: row;
}

.chart2{
    margin-left: 5%;
    margin-top: 5%;
}
.chart3{
    margin-left: 55%;
    margin-top: -20%;
}
.content{
  background-color: lightgrey;
  width: 300px;
  border: 5px solid green;
  padding: -10px;
  display: block;
  margin: auto;
  margin-top: 58px;

}
.contents{
    font-size: 1.3rem;
}
.contentr{
    background-color: lightgrey;
  width: 300px;
  border: 5px solid green;
  padding: -10px;
  margin: 20px;
  margin-left: 65%;
  margin-top: -16.9%;
}
.contentsr{
    font-size: 1.3rem;
}

.id{
    display: flex;
}

#accuracy{
    margin: 2px 16px 12px 11px;

}

li{
    list-style: none;
}

#abc{
    margin: 2px 16px 12px 11px;
}